.container {
  width: 208px;
  height: 146px;

  border-radius: 4px;
}

.container .popover__title {
  background: #f09035;
  flex: none;
  align-self: stretch;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;

  color: #ffffff;
}

.container .popover__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 11px;

  width: 208px;
  height: 114px;
  left: 0px;
  top: 40px;

  background: #f8f8f8;
  border-radius: 4px;

  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  color: #4e4e4e;
}

.container .popover__content span {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: #bc2e31;
}
