.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  font-family: "Roboto", sans-serif;
}

.container img {
  width: 597px;
  height: 388px;
  top: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
}

.container .additional__orders {
  width: 480px;
  height: 520px;
  top: 24px;
  margin: 24px 0px;

  display: column;
  align-items: center;

  border: 1px solid #4e4e4e;
  border-radius: 4px;
}

.container .additional__orders .retangle {
  width: 375px;
  height: 55px;

  background: #fdd70e33;
}

.container .additional__orders .extra__ingredient {
  width: 359px;
  height: 88px;
  bottom: 1.12%;

  background: #ffffff;
}

.container .additional__orders .extra__ingredient .extra__item {
  color: #4e4e4e;
  font: "Roboto" 500 normal;
  line-height: 16px;
  font-size: 14px;

  display: flex;
  align-items: center;
}

.container .additional__orders .extra__ingredient .price {
  color: #f09035;
  font: "Roboto" 400 normal;
  line-height: 16px;
  font-size: 14px;

  display: flex;
  align-items: center;
}

.container .additional__orders .yellow-line {
  width: 343px;
  height: 0px;
  left: 8px;
  top: 96px;

  border: 1px solid #e8a634;
}

.container .additional__orders button {
  width: 219px;
  height: 40px;
  border-radius: 4px;

  background-color: #f09035;
  color: #ffffff;
}
