.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  font-family: "Roboto", sans-serif;
}

.container img {
  width: 597px;
  height: 388px;
  top: 24px;

  margin: 24px 0px;
}

.container .snack__info h3 {
  color: #4e4e4e;
  font-size: 28px;
  line-height: 28px;
}

.container .snack__info p {
  font-size: 32px;
  line-height: 38.4px;
}

.container .snack__info #prices {
  display: flex;
}

.container .additional__orders {
  width: 380px;
  height: 630px;
  top: 24px;
  margin: 24px 0px 24px 0px;
  padding: 20px;

  display: column;
  align-items: center;

  border: 1px solid #4e4e4e;
  border-radius: 12px;
}

.container .additional__orders .retangle {
  width: 375px;
  height: 55px;

  background: #fdd70e33;
}

.container .additional__orders .retangle #cutlery {
  color: #4e4e4e;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 20px;
  padding-top: 8px;
}

.container .additional__orders .retangle #add__ingredients {
  color: #4e4e4e;
  line-height: 14px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 20px;
}

.container .additional__orders .retangle #max-ingredients {
  color: #e49700;
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
  padding-left: 20px;
}

.container .additional__orders .extra__ingredient {
  width: 359px;
  height: 88px;
  bottom: 1.12%;

  display: flex;
  align-items: center;

  background: #ffffff;
}

.container .additional__orders .extra__ingredient .extra__item {
  color: #4e4e4e;
  font: "Roboto" 500 normal;
  line-height: 16px;
  font-size: 14px;
  padding-left: 20px;

  display: flex;
  align-items: center;
}

.container .additional__orders .extra__ingredient .price {
  color: #f09035;
  font: "Roboto" 400 normal;
  line-height: 16px;
  font-size: 14px;
  padding-left: 20px;

  display: flex;
  align-items: center;
}

.container .additional__orders .extra__ingredient .extraItem__btn {
  width: 89px;
  height: 32px;
  display: flex;
  justify-content: space-evenly;

  background: #ffffff;

  border: 1px solid #f09035;
  box-sizing: border-box;
  border-radius: 5px;
}

.container .additional__orders .quantity__extraItem {
  width: 89px;
  height: 32px;
  right: 8px;

  background: #ffffff;

  border: 1px solid #f09035;
  box-sizing: border-box;
  border-radius: 5px;
}

.container .additional__orders .extra__ingredient .extraItem__btn input {
  width: 31.7px;
  height: 30px;
  background-color: #ffffff;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #4e4e4e;
}

.container .additional__orders .extra__ingredient .extraItem__btn input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container .additional__orders .extra__ingredient .itemQuantity__btn {
  width: 31.7px;
  height: 30px;

  border-style: none;

  background: #ffffff;
  color: #ed3237;
}

.container .additional__orders .yellow-line {
  width: 340px;
  height: 0px;
  left: 10px;
  top: 96px;

  border: 1px solid #e8a634;
}

.container .additional__orders .board__footer {
  align-items: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 60px;

  justify-content: space-evenly;
}

.container .additional__orders .btn__addFood {
  width: 219px;
  height: 40px;
  border-radius: 4px;
  border-style: none;

  background-color: #f09035;
  color: #ffffff;
}

.container .additional__orders .quantity__food {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;

  background-color: #ffffff;
  border: 1px solid #f09035;
  border-radius: 4px;
}

.container .additional__orders .quantity__food input {
  width: 50px;
  height: 38px;
  background-color: #ffffff;
  border: none;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.33px;
  color: #4e4e4e;
}

.container .additional__orders .quantity__food input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container .additional__orders .quantity__food .quantity__btn {
  width: 50px;
  height: 40px;

  border-style: none;

  background: #ffffff;
  color: #ed3237;
}

.popover {
  width: 208px;
  height: 146px;

  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.popover .popover__title {
  background: #f09035;
  flex: none;
  height: 32px;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;

  color: #ffffff;
}

.popover .popover__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 11px;

  background: #f8f8f8;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  color: #4e4e4e;
}

.popover .popover__content span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: #bc2e31;
}
